<!doctype html>
<html lang="zh-cn">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Foolish Day!</title>
  </head>

  <body class="text-center">
  <div id="app">
      <div class="form-center" id="welcome-form">
          <p>
          <img src="wel_title.png" class="wel-title"></img>
          </p>
          <p>
            <input id="playername" v-model="playerName" placeholder="请输入你的名字" value="" required="" type="text">
          </p>
          </p>
            <button class="btn fancy-button bg-gradient1" v-on:click="startProblems">开始吧</button>
          </p>
      </div>

      <div class="form-center" id="problem-form" style="display: none">
        <p class="problem-text">
        {{ currentProblem.text }}
        </p>
        <div v-if='currentProblem.type==="text"'>
            <text-choice v-bind:choices="currentProblem.choice" v-model="currentProblem.userChoice" v-on:userchosen="onUserChosen" v-on:next="nextPiece"> </text-choice>
        </div>
        <div v-else-if='currentProblem.type==="picture"'>
            <picture-choice v-bind:choices="currentProblem.choice" v-model="currentProblem.userChoice" v-on:userchosen="onUserChosen" v-on:next="nextPiece"> </picture-choice>
        </div>
        <div v-if='currentProblem.type==="review"'>
            <review-choice v-on:oncheckclicked="onReviewCheckClicked"
                           v-on:onconfirmclicked="onReviewConfirmClicked">
            </review-choice>
        </div>

      </div>
      <div class="form-center" id="ending-form" style="display: none">
          <p> Player Name: {{playerName}} </p>
            <p> Simple Ending... TODO later!</p>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>
