<!doctype html>
<html lang="zh-cn">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>九十九度「真假复旦人」测验</title>
  </head>

  <body class="text-center">
  <div id="app">
      <div class="form-center" id="welcome-form">
          <p>
          <img src="wel_title.jpg" class="wel-title">
          </p>
          <p>
            <input id="playername" v-model="playerName" placeholder="请输入你的名字" value="" required="" type="text">
          </p>
          </p>
            <button class="btn fancy-button bg-gradient1" v-on:click="startProblems">开始吧</button>
          </p>
      </div>

      <div class="form-center" id="problem-form" style="display: none">
        <div class="vertical-center">
            <p class="problem-text">
            {{ currentProblem.text }}
            <div v-if="'extra_pic' in currentProblem">
               <img class='extra-pic' v-bind:src="currentProblem.extra_pic">
            </div>
            </p>
            <text-choice v-if='currentProblem.type==="text"' v-bind:choices="currentProblem.choice" v-model="currentProblem.userChoice" v-on:userchosen="onUserChosen" v-on:next="nextPiece"> </text-choice>
            <picture-choice v-if='currentProblem.type==="picture"' v-bind:choices="currentProblem.choice" v-model="currentProblem.userChoice" v-on:userchosen="onUserChosen" v-on:next="nextPiece"> </picture-choice>
            <div v-if='currentProblem.type==="review"'>
                <review-choice v-on:oncheckclicked="onReviewCheckClicked"
                               v-on:onconfirmclicked="onReviewConfirmClicked">
                </review-choice>
            </div>
        </div>
        <div id="logo99">
            <img src="images/logo.svg">
        </div>

      </div>
      <div class="form-center" id="ending-form" style="display: none">
          <p class="final-review-text"> <big>{{playerName}}</big> 同学 <br> 
          你在本次「真假复旦人」测试<br>
          中的分数是 <big>{{total_score}} </big> 分<br>
          综合你在此次测验中的表现 <br>
          你的「复旦人指数」为 <span><img v-bind:src="final_rank_filename" style="height:3em"></span><br>
          </p>
          <p class="final-review-slogan">
              <img v-bind:src="final_slogan_filename"/>
          </p>
          <p class="final-review-invoicing">
             2018 年 4 月 1 日 <br>
             九十九度教务处
          </p>
          <div class="qrcode-container">
              <img src="images/99.jpg">
          </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>
