{
    margin: 0px;
    padding: 0px;
}
html {
    height:100%;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: #ffffff;
  background: -webkit-linear-gradient(to right, rgba(255, 83, 149,0.6) 0%, rgba(255, 108, 97, 0.6) 33%, rgba(255, 125, 56, 0.6) 66%, rgba(255, 78,45, 0.6) 100%);
  background: linear-gradient(to right, rgba(255, 83, 149,0.6) 0%, rgba(255, 108, 97, 0.6) 33%, rgba(255, 125, 56, 0.6) 66%, rgba(255, 78,45, 0.6) 100%);
  height: 100%;
}
.form-center {
    width:85vw;
    height: 80vh;
    min-width: 28px;
    max-width: 600px;
    display:table-cell;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #ff604e;
    padding-top:10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: calc(10vh + 10px);
    vertical-align: center;
}
.text-problem-item {
    width:100%;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", "Arial", "PingFang SC", "Source Han Sans CN", "Hiragino Sans GB", "Dengxian", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
    font-size:0.8em;
}
.picture-problem-item {
    width:50%;
    display: inline;
}
.align-right-bar {
  align-items: right;
  text-align: right;
  padding: 15px 0px;
}
.wel-title{
  width: 85vw;
  max-width:100%;
}


.bg-gradient1 {
    background: #fa6c9f;
    background: -webkit-linear-gradient(to right, #fa6c9f 0%, #ff6c40 80%, #ff8940 100%);
    background: linear-gradient(to right, #fa6c9f 0%, #ff6c40 80%, #ff8940 100%);
}

.fancy-button {
    display: inline-block;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", "Arial", "PingFang SC", "Source Han Sans CN", "Hiragino Sans GB", "Dengxian", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin-top: 0.8em;
    z-index: 9999;
}

.fancy-button:before {
    content: '';
    display: inline-block;
    height: 40px;
    position: absolute;
    bottom: -5px;
    left: 30px;
    right: 30px;
    z-index: 9990;
    border-radius: 30em;
    -webkit-filter: blur(20px) brightness(0.95);
    filter: blur(20px) brightness(0.95);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fancy-button span {
    display: inline-block;
    padding: 18px 35px;
    border-radius: 50em;
    position: relative;
    z-index: 10000;
    will-change: transform, filter;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fancy-button:focus, .fancy-button:active {
    color: #ffffff;
}

.fancy-button:hover {
    color: #ffffff;
}

.fancy-button:hover span {
    -webkit-filter: brightness(1.05) contrast(1.05);
    filter: brightness(1.05) contrast(1.05);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.fancy-button:hover:before {
    bottom: 0;
    -webkit-filter: blur(10px) brightness(0.95);
    filter: blur(10px) brightness(0.95);
}
.fancy-button.pop-onhover:before {
    opacity: 0;
    bottom: 10px;
}

.fancy-button.pop-onhover:hover:before {
    bottom: -7px;
    opacity: 1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}
.fancy-button.pop-onhover:hover span {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

.fancy-button.pop-onhover:hover:active span {
    -webkit-filter: brightness(1) contrast(1);
    filter: brightness(1) contrast(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.fancy-button.pop-onhover:hover:active:before {
    bottom: 0;
    -webkit-filter: blur(10px) brightness(0.95);
    filter: blur(10px) brightness(0.95);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#playername {
  width: 85%;
  text-align: center;
  font-size: 1.8em;
}

.problem-text{
  font-size: 1.2em;
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", "Arial", "PingFang SC", "Source Han Sans CN", "Hiragino Sans GB", "Dengxian", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}

.extra-pic{
  max-width:75%;
  max-height: 25%;

}

#logo99{
    position:absolute;
    width:75vw;
    max-width: 600px;
    bottom: 12%;
}
#logo99 img{
    height:10%;
    max-height: 10vh;
}

.btn-review{
    margin-left: 2em;
    margin-right: 2em;
}

.choices-block {
  padding-left: 10%;
  padding-right: 10%;
}
.vertical-center{
    margin:auto;
    width: 100%;
}
#problem-form{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction:column;
}
